<button id="button1"
  class="btn btn-primary"
  [disabled]="propertyBindingValue">
  Add new sth propertyBindingValue
</button>

<button id="button2"
  class="btn btn-primary"
  disabled="{{ propertyBindingValue }}">
  Add new sth string interpolation: {{ propertyBindingValue }}
</button>

<button id="button3"
  class="btn btn-primary"
  [disabled]="propertyBindingValueString">
  Add new sth propertyBindingValueString
</button>

<button id="button4"
  class="btn btn-primary"
  disabled={{propertyBindingValueString}}>
  Add new sth string interpolation: {{ propertyBindingValueString }}
</button>

<button id="button5"
        class="btn btn-primary"
        [disabled]="propertyBindingValueSetLater">
  Add new sth propertyBindingValueString
</button>

<button id="button6"
        class="btn btn-primary"
        disabled={{propertyBindingValueSetLater}}>
  Add new sth string interpolation: {{ propertyBindingValueSetLater }}
</button>


<!-- string interpolation works only once when initialized to property! => use property binding! -->
