<!-- fix somehow responsive max, maybe dropdown after some px ? remember mobile first!-->
<nav class="navbar navbar-expand-lg fixed-top bg-primary wrap">
  <div class="d-flex">
    <a href="/" class="nav-item nav-link text-light">Lemo</a>
    <span class="nav-item nav-link text-light disabled">|</span>
    <a href="/" class="nav-item nav-link text-light">Explore</a>
    <a href="/" class="nav-item nav-link text-light">Expand</a>
    <a href="/" class="nav-item nav-link text-light">Entertain</a>
    <span class="nav-item nav-link text-light disabled">|</span>
    <a href="/" class="nav-item nav-link text-light">Quiz</a>
  </div>
  <div class="d-flex">
    <a href="/" class="nav-item nav-link text-light">Admin</a>
    <a href="/" class="nav-item nav-link text-light">Hi, Kacper</a>
  </div>
</nav>
