<label>Some name</label>
<input type="text" class="form-control" (input)="execute($event)">
<p>Result of input: {{ result }}</p>

<!-- It won't update on async timeout :(, so we use 2-way data binding -->

<label>Some ngModel name</label>
<input type="text" class="form-control" [(ngModel)]="result">
<p>Result of input: {{ result }}</p>
<button class="btn btn-primary" [disabled]="result.length === 0" (click)="result = ''">Click!</button>

<p *ngIf="result.length === 0; else isMoreThanZero">
  My lenght is <span [ngStyle]="{backgroundColor: getColor()}">0</span>
</p>
<ng-template #isMoreThanZero>
  <p>More than zero my friend!</p>
</ng-template>

<p *ngFor="let num of nums">FORLOOP!!!: {{num}}</p>
