<ul>
  <li>{{quizQuestion[0].polish}}</li>
  <li>{{quizQuestion[0].english}}</li>
  <li>{{quizQuestion[0].german}}</li>
  <li>{{quizQuestion[0].french}}</li>
</ul>

<ul>
  <li>{{quizQuestion[1].polish}}</li>
  <li>{{quizQuestion[1].english}}</li>
  <li>{{quizQuestion[1].german}}</li>
  <li>{{quizQuestion[1].french}}</li>
</ul>

<ul>
  <li>{{quizQuestion[2].polish}}</li>
  <li>{{quizQuestion[2].english}}</li>
  <li>{{quizQuestion[2].german}}</li>
  <li>{{quizQuestion[2].french}}</li>
</ul>

<ul>
  <li>{{quizQuestion[3].polish}}</li>
  <li>{{quizQuestion[3].english}}</li>
  <li>{{quizQuestion[3].german}}</li>
  <li>{{quizQuestion[3].french}}</li>
</ul>
